<div class="p-4 mb-3 rounded">
    <h4 class="fst-italic">A propos</h4>
    <p class="mb-0">Le blog high tech Web Tech vous livre les dernière actualités et les tendances incontournables du monde digital. Le web évolue à la vitesse de la lumière. Comment s’y retrouver parmi toutes les nouveautés ?</p>
</div>