<div class="p-4">
    <h4 class="fst-italic">Derniers articles</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a href="" class="text-decoration-none">La vie, la mort</a>
        </li>
        <li>
            <a href="" class="text-decoration-none">Etre ou pas</a>
        </li>
    </ol>
</div>